
<% layout('layouts/boilerplate') -%>
<script>
 const maptoken ="<%= process.env.map_token %>"
 const listing=<%-JSON.stringify(listings)%>;
</script>
 
<div class="row justify-content-center mt-4">
  <div class="col-md-8 col-lg-6 border border-secondary"style="box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15)">
     <h5 class="card-title"><%= listings.title %></h5>
    <div class="cardlist">
      <img 
        src="<%= listings.image.url %>" 
        class="card-img-top img-fluid" 
        style="max-height: 300px; object-fit: cover;" 
        alt="listing_image"
        
      >
      <div class="card-body">
        <p>OWNER:<%= listings.owner.username%></p>
        <p><%= listings.description %></p>
        <p>₹<%= listings.price.toLocaleString("en-IN") %></p>
        <p><%= listings.location %></p>
      </div>
        
          <!-- if( currentUser && currentUser._id.equals(listings.owner._id)){  here we use both to compare string  add -->
             <% if( currentUser && currentUser._id.equals(listings.owner._id)){%>
      <div class="px-3 pb-3 ">
        <a href="/listing/<%= listings._id %>/edit" class="btn btn-primary col-2 show">Edit</a>
        <form method="post" action="/listing/<%= listings._id %>?_method=delete" class="d-inline show">
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>

       <% } %>

      <hr>
      <form action="/listing/<%=listings._id%>/reviews" method="post"novalidate class="needs-validation">
         <div class="col-md-8 offset=3 ">
          <% if(currentUser) {%>
             <h4> leave a REVIEW </h4>
            
         <label for="rating" ></label> 
         <fieldset class="starability-slot">  
           <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
           <input type="radio" id="first-rate1" name="review[rating]" value="1" />
           <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="review[rating]" value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input type="radio" id="first-rate3" name="review[rating]" value="3" />
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="review[rating]" value="4" />
           <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
           <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
   </div>

               <div class="mb-3">
                  <label for=" comment" class="form-label "></label> 
                  <textarea name="review[comment]" id="comment" rows="5" cols="30" class="form-control" required></textarea>
                 <DIV class="invalid-feedback"> please enter some comment</DIV>
               </div class="mb-2 mt-4">
                <button class="btn btn-primary">submit</button>
                <% } %>
          </div>
         </form>
      
          
      <% if(listings.review.length>0) {%>  
        <hr>  
        <div class="row" >  
          <h4>All Reviews</h4>           
               <% for(review of listings.review) {%>
                <div class="card col-5 mb-3 ms-3 ">
                   <div class="card-body">
                      <h5 class="card-name">@<%=review.outher.username%></h5>
                        <p class="starability-result" data-rating="<%= review.rating%>"></p>
                      <p class="card-text"> <%= review.comment%></p>
                      

                  <form class="mb-3" method="post" action="/listing/<%= listings._id %>/reviews/<%=review._id %>?_method=delete">
                  <button class="btn btn-dark btn-sm" >delete</button>
                </form>  
                      </div>
                     </div>  
                    
                <% } %> 
                </div>
                <% } %>
  
  <div class="card-body">
    <h5 class="card-title text-left">Where You Will Be</h5>
    <div id="map" style="width: 100%; height: 400px;border-radius:8px "></div>
  </div>
       
    </div>
   </div>
</div>
<script src="/js/map.js"> </script>